<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Usuarios</title>
</head>
<body class="container mt-4">
    <h1 class="mb-4">Lista de Clientes</h1>
<!-- En usuarios.html, actualiza el bucle que muestra la lista de usuarios -->
<table class="table">

    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Direccion</th>
            <th>Telefono</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for usuario in usuarios %}
        <tr>
            <td>{{usuario.id}}</td>
            <td>{{usuario.nombre}}</td>
            <td>{{usuario.apellido}}</td>
            <td>{{usuario.direccion}}</td>
            <td>{{usuario.telefono}}</td>
            <td>
                <a href="{{ url_for('editar_usuario', usuario_id=usuario.id) }}" class="btn btn-warning btn-sm ml-2">Editar</a>
            <a href="{{ url_for('eliminar_usuario', usuario_id=usuario.id) }}" class="btn btn-danger btn-sm ml-2">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>






    <a class="btn btn-primary mt-4" href="{{ url_for('crear_usuario_route') }}">Crear Nuevo Cliente</a>
    <a class="btn btn-secondary mt-4" href="{{ url_for('index') }}">Volver al Menú Principal</a>
</body>
</html>
